/* style main */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* --- LINK FONT --- */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');


/* --- GLOBAL PROPERTIES --- */
html,body{
    background: linear-gradient(
        to right,
        #575ce5 50%,
        #f9fbfc 50%
    ) fixed;
    font-family: 'Space Grotesk', sans-serif;
    color: #adc1eb;
    height: 100vh;
}
.container{
    background-color: #ffffff;
    width: 30vw;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.title{
    display: flex;
    justify-content: center;
    padding: 5vh 0;
    font-size: 1vw;
    font-weight: 600;
}
.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 145px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
.buttons{
    display: flex;
    padding: 5vh 0;
    justify-content: center;
}
button{
    background-color: #6f92dc;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    font-family: 'Space Grotesk', sans-serif;
}
button:hover{
    background-color: #adc1eb;
}

/* --- MEDIA QUERIES --- */

@media screen and (max-width:767px){
    .container{
        width: 70vw;
        padding: 0;
    }
    .title{
        font-size: 3vw;
    }
}