/* style main */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* --- LINK FONT --- */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');


/* --- GLOBAL PROPERTIES --- */
html,body{
    background-color: #3366cc; 
    font-family: 'Space Grotesk', sans-serif;
    color: #adc1eb;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.1);
    border-radius: 2vw;
}
.title{
    display: flex;
    justify-content: center;
    padding: 5vh 0;
    font-size: 1vw;
    font-weight: 600;
}
.containerCoin{
    display: flex;
    justify-content: center;
    height: 30vh;
}
.launchCoin{
    display: flex;
    padding: 5vh 0;
    justify-content: center;
}
button{
    background-color: #6f92dc;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}
button:hover{
    background-color: #adc1eb;
    
}